body {
    background-color: lightblue;
}


.storyline {
    padding: 10px;
    width: 200px;
    height: 100px;
    overflow: auto;
    border: 2px solid red;
}

.storyline {
    width: 300px;
    border: 20% solid;
    padding: 50px;
    margin: 20px;
    background-color: aliceblue;
}

.moovie_image {
    height: 250px;
    width: 175px;
    border: 3px solid blue;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 50px;

    padding: 5px;
}

/* .mycontainer {
    width: 100%;
    overflow: auto;
}

.mycontainer div {
    width: 33%;
    float: left;
} */