.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.for-test {
    width: 40px;
    height: 40px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1rem 10px 25px 30px;
    padding: 20px 15px 25px 30px;
    border: 5px dotted greenyellow;
    background-color: blueviolet;
}

.overflow-example {
    padding: 10px;
    width: 200px;
    height: 100px;
    overflow: auto;
    border: 2px solid red;
}
.absolute {
    background-color: blueviolet;
    width: 300px;
    height: 150px;
}

.relative {
    background-color: yellowgreen;
    width: 50%;
    height: 200px;
}

.Godel {
    font-size: 36px;
}

.Godel2 {
    font-size: 2em;
}

.Godel3 {
    font-size: 1.5rem;
}
.Rohav {
    font-size: 16px;
}

.Rohav2 {
    font-size: 1.2em;
}

.Rohav3 {
    font-size: 1rem;
}